[submodule "Computer-Basics"]
	path = Computer-Basics
	url = https://github.com/DenseOriginal/Computer-Basics
[submodule "GUI-basic"]
	path = GUI-basic
	url = https://github.com/DenseOriginal/GUI-basic
[submodule "fantastiske-funktioner"]
	path = fantastiske-funktioner
	url = https://github.com/DenseOriginal/fantastiske-funktioner
[submodule "DatabaseGame"]
	path = DatabaseGame
	url = https://github.com/DenseOriginal/DatabaseGame
