* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    position: relative;
}

.inputs {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    background-color: #d4d4d4;
    border-radius: 4px;
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-between;
}

#zoomSlider {
    flex-grow: 1;
    margin-inline: 8px;
}