:root {
  --buttons-size: 80px;
}

* {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-items: center;
}

button {
  width: var(--buttons-size);
  height: var(--buttons-size);
  outline: none;
  border: none;
  border-radius: 4px;
  position: relative;
  --color: red;
  transition: all 50ms;
  position: relative;
}

button:active,
button.active {
  background-color: var(--color);
}

button:active::before,
button.active::before {
  content: "";
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 20px var(--color);
}

button::after {
  content: attr(data-key) " ";
  position: absolute;
  z-index: 100;
  top: 5px;
  left: 5px;
  color: #7a7a7a;
}

/* Display all button in a .container in a grid with 6 columns */
.container {
  display: grid;
  grid-template-columns: repeat(4, minmax(var(--buttons-size), 1fr));
  grid-gap: 2px;
  width: fit-content;
}